
@charset "utf-8";
body {
    background: url("../images/bg.jpg") repeat-x scroll 0 0 #F4F4F4;
    color: #454547;
    font-family: Verdana,Arial,Tahoma;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
    padding: 0;
}
#wrapper {
    margin: 15px auto;
    position: relative;
    width: 882px;
}
.floatleft {
    float: left;
}
.header {
    float: left;
    width: 882px;
}
.headertop {
    height: 17px;
}
.header div.logo {
    height: 61px;
    width: 299px;
}
.header div.head2 {
    height: 61px;
    width: 583px;
}
.topmenu {
    float: left;
    height: 63px;
    width: 882px;
}
.topmenu div.white {
    background-color: #FEFEFF;
    height: 68px;
    width: 1px;
}
.topmenu div.black {
    background-color: #222932;
    height: 68px;
    width: 1px;
}
.topmenu div.grey {
    background-color: #B7B9BD;
    height: 68px;
    width: 1px;
}
.topmenu div.deepblue {
    background-color: #08153E;
    height: 63px;
    width: 1px;
}
.topmenu div.lightblue {
    background-color: #263652;
    height: 49px;
    width: 1px;
}
.menucontainergreen {
    background-color: #0D2B49;
    float: left;
    height: 63px;
    width: 874px;
}
.menucontainerdeepblue {
    background-color: #08153E;
    float: left;
    height: 49px;
    width: 874px;
}
.menucontainerlightblue {
    background: url("../images/linkbg.jpg") repeat-x scroll 0 0 #253452;
    float: left;
    height: 49px;
    width: 872px;
}
.menubg {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.menubg ul {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 708px;
}
.menubg li {
    background: url("../images/toplinksep.jpg") no-repeat scroll right center transparent;
    display: inline;
    float: left;
    height: 48px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 1px;
    padding-top: 0;
    text-align: center;
    vertical-align: top;
}
.menubg li.nobg {
    background: none repeat scroll 0 0 transparent;
}
.menubg li a.home {
    background: url("../images/homelink.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 91px;
}
.menubg li a.home:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.menubg li a.services {
    background: url("../images/logout.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 87px;
}
.menubg li a.services:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.menubg li a.solutions {
    background: url("../images/solutionslink.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 86px;
}
.menubg li a.solutions:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.menubg li a.products {
    background: url("../images/productslink.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 86px;
}
.menubg li a.products:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.menubg li a.about {
    background: url("../images/aboutlink.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 87px;
}
.menubg li a.about:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.menubg li a.contact {
    background: url("../images/contactlink.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    text-decoration: none;
    width: 87px;
}
.menubg li a.contact:hover {
    background-position: 0 -48px;
    text-decoration: none;
}
.topmenu div.phonenumber {
    height: 48px;
    width: 162px;
}
.middlecontentwhite {
    background-color: #FEFEFF;
    display: inline;
    float: left;
    min-height: 553px;
    width: 882px;
}
.middlecontentblack {
    background-color: #222932;
    display: inline;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 553px;
    width: 880px;
}
.middlecontentgrey {
    background-color: #B7B8BD;
    display: inline;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 553px;
    width: 878px;
}
.middlecontent {
    background: url("../images/middlebg.jpg") repeat-x scroll 0 0 #F6F5F4;
    display: inline;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 553px;
    width: 876px;
}
.middlecontenttopbg {
    background: url("../images/middlecontenttopbg.jpg") repeat-x scroll 0 0 transparent;
    float: left;
    height: 2px;
    width: 876px;
}
.middlecontent div.spacerdiv {
    height: 20px;
    width: 876px;
}
.middlecontent div.left {
    float: left;
    width: 19px;
}
.middlecontent div.leftbox {
    float: left;
    width: 270px;
}
.middlecontent div.middlebox {
    float: left;
    width: 585px;
}
.contenttop, .contentbottom {
    clear: none;
    float: left;
    width: 585px;
}
.middlecontent div.spacerdiv1 {
    float: left;
    width: 13px;
}
.middlecontent div.divider {
    float: left;
    vertical-align: top;
    width: 1px;
}
.middlecontent div.productservice {
    float: left;
    margin-top: 33px;
    width: 284px;
}
.productservice_head {
    clear: both;
    float: left;
    margin-bottom: 23px;
    padding-left: 16px;
    width: 268px;
}
.bigbullet {
    clear: both;
    float: left;
    margin-top: 5px;
    padding-left: 18px;
    width: 13px;
}
.bigbulletcontent {
    color: #2D2C2F;
    float: left;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 160%;
    padding: 4px 6px 5px 16px;
    text-align: left;
    text-decoration: none;
    width: 220px;
}
.bigbulletcontent a {
    color: #2D2C2F;
    text-decoration: none;
}
.bigbulletcontent a:hover {
    text-decoration: underline;
}
.bigbulletbottom {
    clear: both;
    float: left;
    margin-bottom: 23px;
    width: 284px;
}
.middlecontent div.aboutcompany {
    float: left;
    margin-top: 33px;
    width: 285px;
}
.aboutcompany_head {
    clear: both;
    float: left;
    margin-bottom: 23px;
    padding-left: 16px;
    width: 250px;
}
.middlecontent div.spacerdiv2 {
    clear: both;
    float: left;
    width: 33px;
}
.middlecontent div.alarmsystem {
    clear: both;
    float: left;
    margin-top: 24px;
    padding-left: 12px;
    width: 281px;
}
.middlecontent div.security {
    float: left;
    margin-top: 24px;
    padding-left: 5px;
    width: 280px;
}
.footerspacer {
    clear: both;
    float: left;
    height: 20px;
    width: 873px;
}
.homeleftboxbg {
    background: url("../images/homeleftboxbg.jpg") repeat-x scroll 0 0 #131A20;
    border-right: 1px solid #535F6E;
    float: left;
    min-height: 301px;
    width: 269px;
}
.box1 {
    clear: both;
    float: left;
    margin-bottom: 13px;
    margin-top: 24px;
    width: 269px;
}
.box1_con_blue {
    clear: both;
    color: #88C0FB;
    font-family: Verdana,Tahoma,Arial;
    font-size: 11px;
    line-height: 160%;
    padding: 5px 30px;
    text-align: left;
    text-decoration: none;
}
.box1_con_blue p {
    color: #88C0FB;
    font-family: Verdana,Tahoma,Arial;
    font-size: 12px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.box1_con_blue a {
    color: #FFFFCC;
    text-decoration: none;
}
.box1_con_blue a:hover {
    text-decoration: underline;
}
.box1_con_blue ol {
    line-height: 160%;
}
.box1_con_blue ol li {
    margin-bottom: 10px !important;
    margin-left: 15px;
    margin-top: 5px !important;
    padding: 0 0 0 10px;
}
.box1_con_blue ul {
    line-height: 130%;
    list-style-type: none;
}
.box1_con_blue ul li {
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    margin-left: -15px;
    margin-top: -5px !important;
    padding: 0 0 0 18px;
}
.box1_con {
    clear: both;
    color: #FFFFFF;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    line-height: 160%;
    padding: 5px 30px 15px;
    text-align: left;
    text-decoration: none;
}
.box1_con p {
    color: #FFFFFF;
    font-family: Verdana,Tahoma,Arial;
    font-size: 11px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.box1_con a {
    color: #FFFFCC;
    text-decoration: none;
}
.box1_con a:hover {
    text-decoration: underline;
}
.box1_con ol {
    line-height: 160%;
}
.box1_con ol li {
    margin-bottom: 10px !important;
    margin-left: 15px;
    margin-top: 5px !important;
    padding: 0 0 0 10px;
}
.box1_con ul {
    line-height: 130%;
    list-style-type: none;
}
.box1_con ul li {
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    margin-left: -15px;
    margin-top: -5px !important;
    padding: 0 0 0 18px;
}
.box1_con_lightblue {
    clear: both;
    color: #213241;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    line-height: 190%;
    padding: 15px;
    text-align: left;
    text-decoration: none;
}
.box1_con_lightblue p {
    color: #213241;
    font-family: Verdana,Tahoma,Arial;
    font-size: 11px;
    line-height: 190%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.box1_con_lightblue a {
    color: #141C42;
    text-decoration: none;
}
.box1_con_lightblue a:hover {
    text-decoration: underline;
}
.box1_con_lightblue ol {
    line-height: 160%;
}
.box1_con_lightblue ol li {
    margin-bottom: 10px !important;
    margin-left: 15px;
    margin-top: 5px !important;
    padding: 0 0 0 10px;
}
.box1_con_lightblue ul {
    line-height: 130%;
    list-style-type: none;
}
.box1_con_lightblue ul li {
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin-bottom: 10px !important;
    margin-left: -15px;
    margin-top: -5px !important;
    padding: 0 0 0 18px;
}
.main_con {
    clear: both;
    color: #454547;
    font-family: Verdana,Tahoma,Arial;
    font-size: 11px;
    line-height: 190%;
    padding: 5px 10px 15px 0;
    text-align: left;
    text-decoration: none;
}
.main_con p {
    color: #454547;
    font-family: Verdana,Tahoma,Arial;
    font-size: 11px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main_con a {
    color: #141C42;
    text-decoration: none;
}
.main_con a:hover {
    text-decoration: underline;
}
.main_con ol {
    line-height: 160%;
}
.main_con ol li {
    margin-bottom: 10px !important;
    margin-left: 15px;
    margin-top: 5px !important;
    padding: 0 0 0 10px;
}
.main_con ul {
    line-height: 100%;
    list-style-type: none;
}
.main_con ul li {
    background-position: 0 5px;
    background-repeat: no-repeat;
    margin-left: -58px;
    margin-top: 5px !important;
    padding: 0 0 0 18px;
}
.footerwhite {
    background-color: #FEFEFF;
    display: inline;
    float: left;
    height: 87px;
    width: 882px;
}
.footerblack {
    background-color: #222932;
    display: inline;
    float: left;
    height: 86px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 880px;
}
.footergrey {
    background-color: #B7B8BD;
    display: inline;
    float: left;
    height: 85px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 878px;
}
.footerlightgrey {
    background-color: #F6F5F4;
    display: inline;
    float: left;
    height: 84px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 876px;
}
.footercontent {
    background: url("../images/footerbg.jpg") repeat-x scroll 0 0 #1D2835;
    display: inline;
    float: left;
    height: 82px;
    margin-left: 2px;
    margin-right: 2px;
    width: 872px;
}
.footerbottom {
    float: left;
    height: 20px;
    width: 882px;
}
.fontcolor1 {
    color: #000000;
}
.fontcolor2 {
    color: #FFFFFF;
}
.fontcolor3 {
    color: #88C0FB;
}
.bgcolor1 {
    background-color: #000000;
}
.bgcolor2 {
    background-color: #FFFFFF;
}
.alignright {
    text-align: right;
}
.fontbold {
    font-weight: bold;
}
.innerblack {
    background-color: #222932;
    display: inline;
    float: left;
    margin: 1px 1px 0;
    min-height: 300px;
    width: 882px;
}
.innergrey {
    background-color: #B4B6B9;
    display: inline;
    float: left;
    margin: 1px 1px 0;
    min-height: 300px;
    width: 880px;
}
.innerbg {
    background: url("../images/innerbg.jpg") repeat-x scroll 0 0 #F4F4F2;
    display: inline;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    min-height: 300px;
    width: 878px;
}
.innermenugrey {
    background-color: #AFB5B6;
    display: inline;
    float: left;
    height: 50px;
    margin: 2px;
    width: 874px;
}
.innerspacer1 {
    clear: both;
    float: left;
    height: 4px;
    width: 872px;
}
.innerspacer2 {
    background-color: #061E36;
    clear: both;
    float: left;
    height: 2px;
    width: 872px;
}
.innerspacer3 {
    clear: both;
    float: left;
    height: 60px;
    width: 872px;
}
.innerspacerdiv1 {
    float: left;
    width: 23px;
}
.innerleft {
    float: left;
    width: 220px;
}
.innercontent {
    float: left;
    width: 620px;
}
.product_division {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 308px;
}
.innerround {
    float: left;
    margin-top: 10px;
    padding-left: 11px;
    width: 16px;
}
.innercontentleft {
    float: left;
    width: 280px;
}
.innerleft2 {
    clear: both;
    float: left;
    margin-bottom: 47px;
    margin-top: 20px;
    width: 308px;
}
.innerleft div.alarmsystem {
    clear: both;
    float: left;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 0;
    width: 300px;
}
.innerleft div.security {
    clear: both;
    float: left;
    margin-top: 0;
    padding-left: 0;
    width: 300px;
}
.inner_product_service_head {
    display: inline;
    float: left;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 33px;
    width: 520px;
}
.innerfooterspacer {
    clear: both;
    float: left;
    height: 20px;
    width: 878px;
}
.innerfooterblack {
    background-color: #222932;
    display: inline;
    float: left;
    height: 86px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 882px;
}
.innerfootergrey {
    background-color: #B4B6B9;
    display: inline;
    float: left;
    height: 85px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 880px;
}
.innerfooterlightgrey {
    background-color: #F6F5F4;
    display: inline;
    float: left;
    height: 84px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    width: 878px;
}
.innerfootercontent {
    background: url("../images/footerbg.jpg") repeat-x scroll 0 0 #1D2835;
    display: inline;
    float: left;
    height: 82px;
    margin-left: 2px;
    margin-right: 2px;
    width: 874px;
}
.innerfooterbottom {
    float: left;
    height: 20px;
    width: 882px;
}
.errors li {
    color: red;
}
table.bluedream {
    background: none repeat scroll 0 0 #D3E4E5;
    border: 1px solid gray;
    border-collapse: collapse;
    color: #FFFFFF;
    font: 12px verdana,arial,helvetica,sans-serif;
    width: 100%;
}
.bluedream caption {
    border: 1px solid #5C443A;
    color: #5C443A;
    font-weight: bold;
    letter-spacing: 20px;
    padding: 6px 4px 8px 0;
    text-align: center;
    text-transform: uppercase;
}
.bluedream td, th {
    color: #363636;
    padding: 0.4em;
}
.bluedream tr {
    border: 1px dotted gray;
}
.bluedream thead th, .bluedream tfoot th {
    background: none repeat scroll 0 0 #5C443A;
    color: #FFFFFF;
    padding: 3px 10px;
    text-align: left;
    text-transform: uppercase;
}
.bluedream tbody td a {
    color: #363636;
    text-decoration: none;
}
.bluedream tbody td a:visited {
    color: gray;
    text-decoration: line-through;
}
.bluedream tbody td a:hover {
    text-decoration: underline;
}
.bluedream tbody th a {
    color: #363636;
    font-weight: normal;
    text-decoration: none;
}
.bluedream tbody th a:hover {
    color: #363636;
}
.bluedream tbody td + td + td + td a {
    background-position: left center;
    background-repeat: no-repeat;
    color: #03476F;
    padding-left: 15px;
}
.bluedream tbody td + td + td + td a:visited {
    background-image: url("bullet_white.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.bluedream tbody th, tbody td {
    text-align: left;
    vertical-align: top;
}
.bluedream tfoot td {
    background: none repeat scroll 0 0 #5C443A;
    color: #FFFFFF;
    padding-top: 3px;
}
.bluedream .odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.bluedream tbody tr:hover {
    background: none repeat scroll 0 0 #99BCBF;
    border: 1px solid #03476F;
    color: #000000;
}
div.message {
    border: 2px dotted;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
}
div.success {
    color: green;
}
div.error {
    color: red;
}
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
    font-size: 90%;
}
.ui-tpicker-grid-label {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}
.mega-menu {
    background: none repeat scroll 0 0 #333333;
    border-left: 1px solid #1B1B1B;
    font: bold 13px/16px Arial,sans-serif;
    position: relative;
    width: 160px;
}
.mega-menu li a {
    border-bottom: 1px solid #222222;
    border-right: 1px solid #1B1B1B;
    border-top: 1px solid #555555;
    color: #FFFFFF;
    display: block;
    padding: 12px 38px 12px 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
.mega-menu li a:hover, .mega-menu li.mega-hover a {
    background: none repeat scroll 0 0 #4B4B4B;
    border-right: 1px solid #4B4B4B;
    color: #FFFFFF;
}
.mega-menu li a.dc-mega {
    position: relative;
}
.mega-menu li a .dc-mega-icon {
    display: block;
    height: 8px;
    position: absolute;
    right: 15px;
    top: 18px;
    width: 6px;
}
.mega-menu li .sub-container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #4B4B4B;
    border-color: #4B4B4B #4B4B4B #4B4B4B -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    overflow: hidden;
    padding: 10px 10px 0;
    position: absolute;
}
.mega-menu li .sub .row {
    overflow: hidden;
    width: 100%;
}
.mega-menu li .sub li {
    float: none;
    font-size: 1em;
    font-weight: normal;
    width: 150px;
}
.mega-menu li .sub li.mega-hdr {
    float: left;
    margin: 0 5px 10px;
}
.mega-menu li .sub a, .mega-menu.left li .sub a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    display: block;
    float: none;
    font-size: 0.9em;
    padding: 7px 10px;
    text-decoration: none;
    text-shadow: none;
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
    background: none repeat scroll 0 0 #E88221;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
    text-shadow: 1px 1px 1px #333333;
    text-transform: uppercase;
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color: #000000;
    text-shadow: none;
}
.mega-menu .sub li.mega-hdr li a {
    font-weight: normal;
    padding: 4px 5px 4px 20px;
}
.mega-menu .sub li.mega-hdr li a:hover {
    background: url("../images/arrow_on.png") no-repeat scroll 5px 8px #EFEFEF;
    color: #A32403;
}
.mega-menu .sub ul li {
    padding-right: 0;
}
.mega-menu li .sub-container.non-mega .sub {
    padding: 10px;
}
.mega-menu li .sub-container.non-mega li {
    margin: 0;
    padding: 0;
    width: 150px;
}
.mega-menu li .sub-container.non-mega li a {
    padding: 7px 5px 7px 22px;
}
.mega-menu li .sub-container.non-mega li a:hover {
    background: url("../images/arrow_on.png") no-repeat scroll 7px 10px #EFEFEF;
    color: #A32403;
}
#mega-1 .sub li {
    left: 10px;
}

.question-atachement {
    max-width: 300px;
}